Repository thePegasusai/GameBrowser, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-owner1, @global-owner2, @frontend-team, @ml-team, @graphics-team, @devops-team, @typescript-reviewers, @dependency-reviewers

Add public-samples/unia-mmp9gy/.github/dependabot.yml
  .github/dependabot.yml
Owners: @global-owner1, @global-owner2

Add public-samples/unia-mmp9gy/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @global-owner1, @global-owner2

Add public-samples/unia-mmp9gy/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @global-owner1, @global-owner2

Add public-samples/unia-mmp9gy/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @global-owner1, @global-owner2

Add public-samples/unia-mmp9gy/.github/workflows/cd.yml
  .github/workflows/cd.yml
Owners: @devops-team

Add public-samples/unia-mmp9gy/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @devops-team

Add public-samples/unia-mmp9gy/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @global-owner1, @global-owner2

Add public-samples/unia-mmp9gy/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @global-owner1, @global-owner2

Add public-samples/unia-mmp9gy/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @global-owner1, @global-owner2

Add public-samples/unia-mmp9gy/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @global-owner1, @global-owner2

Add public-samples/unia-mmp9gy/infrastructure/docker/.dockerignore
  infrastructure/docker/.dockerignore
Owners: @devops-team

Add public-samples/unia-mmp9gy/infrastructure/docker/dev.Dockerfile
  infrastructure/docker/dev.Dockerfile
Owners: @devops-team

Add public-samples/unia-mmp9gy/infrastructure/docker/docker-compose.yml
  infrastructure/docker/docker-compose.yml
Owners: @devops-team

Add public-samples/unia-mmp9gy/infrastructure/scripts/cleanup.sh
  infrastructure/scripts/cleanup.sh
Owners: @devops-team

Add public-samples/unia-mmp9gy/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @devops-team

Add public-samples/unia-mmp9gy/infrastructure/scripts/monitoring.sh
  infrastructure/scripts/monitoring.sh
Owners: @devops-team

Add public-samples/unia-mmp9gy/infrastructure/scripts/rollback.sh
  infrastructure/scripts/rollback.sh
Owners: @devops-team

Add public-samples/unia-mmp9gy/infrastructure/terraform/acm.tf
  infrastructure/terraform/acm.tf
Owners: @devops-team

Add public-samples/unia-mmp9gy/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team

Add public-samples/unia-mmp9gy/infrastructure/terraform/cloudfront.tf
  infrastructure/terraform/cloudfront.tf
Owners: @devops-team

Add public-samples/unia-mmp9gy/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team

Add public-samples/unia-mmp9gy/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team

Add public-samples/unia-mmp9gy/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @devops-team

Add public-samples/unia-mmp9gy/infrastructure/terraform/route53.tf
  infrastructure/terraform/route53.tf
Owners: @devops-team

Add public-samples/unia-mmp9gy/infrastructure/terraform/s3.tf
  infrastructure/terraform/s3.tf
Owners: @devops-team

Add public-samples/unia-mmp9gy/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team

Add public-samples/unia-mmp9gy/infrastructure/terraform/waf.tf
  infrastructure/terraform/waf.tf
Owners: @devops-team

Add public-samples/unia-mmp9gy/src/web/.babelrc
  src/web/.babelrc
Owners: @frontend-team

Add public-samples/unia-mmp9gy/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team

Add public-samples/unia-mmp9gy/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/unia-mmp9gy/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/unia-mmp9gy/src/web/index.html
  src/web/index.html
Owners: @frontend-team

Add public-samples/unia-mmp9gy/src/web/package.json
  src/web/package.json
Owners: @dependency-reviewers

Add public-samples/unia-mmp9gy/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team

Add public-samples/unia-mmp9gy/src/web/webpack.config.ts
  src/web/webpack.config.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/public/favicon.ico
  src/web/public/favicon.ico
Owners: @frontend-team

Add public-samples/unia-mmp9gy/src/web/public/index.html
  src/web/public/index.html
Owners: @frontend-team

Add public-samples/unia-mmp9gy/src/web/public/manifest.json
  src/web/public/manifest.json
Owners: @frontend-team

Add public-samples/unia-mmp9gy/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @frontend-team

Add public-samples/unia-mmp9gy/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team

.github/CODEOWNERS:

* @global-owner1 @global-owner2

# Frontend team owns web application code
src/web/ @frontend-team

# ML team owns model implementation code
src/web/src/lib/model/ @ml-team

# Graphics team owns WebGL acceleration code
src/web/src/lib/webgl/ @graphics-team

# DevOps team owns infrastructure and CI/CD code
infrastructure/ @devops-team
.github/workflows/ @devops-team

# TypeScript reviewers for all TypeScript files
*.ts @typescript-reviewers

# Dependency reviewers for package management files
package.json @dependency-reviewers
package-lock.json @dependency-reviewers

# The last matching pattern takes precedence.
# Files that match multiple patterns will use the last matching pattern's owners.
