Repository thePegasusai/GameBrowser, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-owner1, @global-owner2, @frontend-team, @ml-team, @graphics-team, @devops-team, @typescript-reviewers, @dependency-reviewers

.github/CODEOWNERS:

* @global-owner1 @global-owner2

# Frontend team owns web application code
src/web/ @frontend-team

# ML team owns model implementation code
src/web/src/lib/model/ @ml-team

# Graphics team owns WebGL acceleration code
src/web/src/lib/webgl/ @graphics-team

# DevOps team owns infrastructure and CI/CD code
infrastructure/ @devops-team
.github/workflows/ @devops-team

# TypeScript reviewers for all TypeScript files
*.ts @typescript-reviewers

# Dependency reviewers for package management files
package.json @dependency-reviewers
package-lock.json @dependency-reviewers

# The last matching pattern takes precedence.
# Files that match multiple patterns will use the last matching pattern's owners.

Add public-samples/unia-mmp9gy/src/web/src/lib/storage/indexedDB.ts
  src/web/src/lib/storage/indexedDB.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/src/lib/tensor/memory.ts
  src/web/src/lib/tensor/memory.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/src/lib/tensor/operations.ts
  src/web/src/lib/tensor/operations.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/src/lib/utils/logger.ts
  src/web/src/lib/utils/logger.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/src/lib/utils/metrics.ts
  src/web/src/lib/utils/metrics.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/src/lib/utils/validation.ts
  src/web/src/lib/utils/validation.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/src/lib/video/encoder.ts
  src/web/src/lib/video/encoder.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/src/lib/video/extractor.ts
  src/web/src/lib/video/extractor.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/src/lib/video/processor.ts
  src/web/src/lib/video/processor.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/src/lib/webgl/buffers.ts
  src/web/src/lib/webgl/buffers.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/src/lib/webgl/context.ts
  src/web/src/lib/webgl/context.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/src/lib/webgl/shaders.ts
  src/web/src/lib/webgl/shaders.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/src/styles/global.css
  src/web/src/styles/global.css
Owners: @frontend-team

Add public-samples/unia-mmp9gy/src/web/src/styles/theme.ts
  src/web/src/styles/theme.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/src/types/index.ts
  src/web/src/types/index.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/src/types/model.ts
  src/web/src/types/model.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/src/types/tensor.ts
  src/web/src/types/tensor.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/src/types/video.ts
  src/web/src/types/video.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/src/workers/generation.worker.ts
  src/web/src/workers/generation.worker.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/src/workers/training.worker.ts
  src/web/src/workers/training.worker.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/src/workers/video.worker.ts
  src/web/src/workers/video.worker.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/tests/setup.ts
  src/web/tests/setup.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/tests/utils.ts
  src/web/tests/utils.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/tests/components/Generation.test.tsx
  src/web/tests/components/Generation.test.tsx
Owners: @frontend-team

Add public-samples/unia-mmp9gy/src/web/tests/components/Training.test.tsx
  src/web/tests/components/Training.test.tsx
Owners: @frontend-team

Add public-samples/unia-mmp9gy/src/web/tests/components/VideoUpload.test.tsx
  src/web/tests/components/VideoUpload.test.tsx
Owners: @frontend-team

Add public-samples/unia-mmp9gy/src/web/tests/hooks/useModel.test.ts
  src/web/tests/hooks/useModel.test.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/tests/hooks/useVideo.test.ts
  src/web/tests/hooks/useVideo.test.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/tests/lib/model.test.ts
  src/web/tests/lib/model.test.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/tests/lib/tensor.test.ts
  src/web/tests/lib/tensor.test.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/tests/lib/video.test.ts
  src/web/tests/lib/video.test.ts
Owners: @typescript-reviewers

Add public-samples/unia-mmp9gy/src/web/tests/workers/training.test.ts
  src/web/tests/workers/training.test.ts
Owners: @typescript-reviewers

Add files via upload
  src/web/src/lib/model/TFJS/attention.js
  src/web/src/lib/model/TFJS/dataset.js
  src/web/src/lib/model/TFJS/dit.js
  src/web/src/lib/model/TFJS/embeddings.js
  src/web/src/lib/model/TFJS/generate.js
  src/web/src/lib/model/TFJS/index.html
  src/web/src/lib/model/TFJS/rotary_embedding.js
  src/web/src/lib/model/TFJS/setup.sh
  src/web/src/lib/model/TFJS/train.js
  src/web/src/lib/model/TFJS/utils.js
  src/web/src/lib/model/TFJS/vae.js
Owners: @ml-team

Add files via upload
  src/web/src/lib/model/TFJS/sample_data/actions.json
  src/web/src/lib/model/TFJS/sample_data/data_index.json
Owners: @ml-team
